<p>Clients</p>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Identifier</th>
        <th>Enabled</th>
        <th>url</th>
    </tr>
    
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td> <a (click)="showClient(client.id)">{{client.name}}</a></td>
      <td>{{client.identifier}}</td>
      <td>{{client.enabled}}</td>
      <td>{{client.uri}}</td>
    </tr>
  </tbody>
</table>

<!-- <button (click)="open()">Open</button> -->

<app-client-aside>

</app-client-aside>